#folders 
**/__pycache__/

#extensions
**.streamlit
**.DS_Store
**.lock
**.env
**.pyc

# Local files and secrets
MRA-training/mydatabase.db
MRA-training/.streamlit/secrets.toml
MRA-training/mydatabase.db-journal
supp.ipynb

### frontend


# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cache
.cache/
.next/
.nuxt/
.temp/
.tmp/

# Logs
logs
*.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn Integrity file
.yarn-integrity
