#folders 
**/__pycache__/

#extensions
**.streamlit
**.DS_Store
**.lock
**.env
**.pyc

# Local files and secrets
MRA-training/mydatabase.db
MRA-training/.streamlit/secrets.toml
MRA-training/mydatabase.db-journal
supp.ipynb
